<html>

<head>
    <title>My Tasks</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="./index.html"><img src="/pictures/revature-logo.png"
                style="height: 2.5em; padding: .5em;"/></a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="nav-left">
            <li class="nav-item">
                <a class="nav-link active" href="./tasks.html">My Tasks</a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right" id="nav-right">
            <!-- <li class="nav-item">
                <a class="nav-link" href="#">Login/Logout</a>
            </li> -->
        </ul>

    </nav>
    <main class="container-fluid mx-auto " style="padding: 0 7.5em;">
        <br>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Reimb_ID</th>
                    <th scope="col">Description</th>
                    <th scope="col">Submitted Date</th>
                    <th socop="col"> Amount</th>
                    <th scope="col">Status</th>
                    <th scope="col">Requestor</th>
                </tr>
            </thead>
            <tbody id="tasks-tbody">
               


            
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <input class="btn btn-outline-secondary" type="button" value="See All Tasks" id="info">
            <input class="btn btn-outline-secondary" type="button" value="Refresh Tasks" id="refresh">
            <!-- <button type="button" id="rr" style="background-color: white;"><a href="/views/request.html" style="text-decoration:none ;">Request</a></button> -->
         
            
        </div>
        <br>
       
        <div class="d-flex justify-content-center">
            <label>Reimbursement ID?:</label>
        </div>
        <div class="d-flex justify-content-center">
            <input class="inputstyle" type="number" name="reimbid" id="reimbId"> <br>
            <button type="button" id="accept">Approve</button> <button type="button" id="reject">Reject</button>
        </div> 
    </main>

        </div>
        
    <footer class="bg-light text-center fixed-bottom">
        <div class="text-center p-3">
            <i>Project1-Demo &copy; <b>Revature</b></i>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
       

      
    <script src="../scripts/main.js"></script>
    <script src="/scripts/tasks.js"></script>
 <script src="/scripts/approv.js" ></script>
   
 
</body>

</html>